@charset "UTF-8";

body {
	margin:0;
	padding:0;
	background:#FFF;
	font-size:14px;
	font-family: 'Roboto', Arial, sans-serif;
	color: #555;
	font-weight:300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:900;
	margin:0.5em 0 0.5em;
}
ul {
	list-style: none;
	margin:0;
	padding:0;
}
h1 { font-size:3em;}
h2 { font-size:2.2em;}
h3 { font-size:2em;}
h4 { font-size:1.6em;}
h5 { font-size:1.4em;}
h6 { font-size:1.2em;}

p {
	margin: 0.3em 0 0.3em;
}
img {
	vertical-align: bottom;
	max-width: 100%;
}
a:link,
a:visited {
	text-decoration: none;
	color: #22BA5D;
}
a:hover {
	text-decoration: none;
	color: #257343;
}


.wrapper {
	width: 1260px;
	margin: 0 auto;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

#nav ul li a,.forms-top,.tables-top, table th {
	text-transform: uppercase;
}

#header {
	background: #22BA5D;
}

#logo {
	float: left;
}
#nav {
    float: right;
	padding: 15px;
}

#nav ul li a {
	display: block;
	background: #22BA5D;
	color: #fff;
	padding: 7px;
	font-size: 1.1em;
	font-weight: 600;
	border: 3px solid #fff;
}
#nav ul li a:link,
#nav ul li a:visited {
	text-decoration: none;
}
#nav ul li a:hover {
	color: #22BA5D;
	background: #F5F2F1;
	border: 3px solid #22BA5D;
}

#main {
	overflow: hidden;
}

#sidebar {
	float: left;
	width: 220px;
	background: #3D4751;
	overflow: hidden;
	height: 1300px;
}
#user-image img {
	max-height: 70px;
	max-width: 70px;
	border-radius: 50%;
	margin: 20px 75px 0 75px;
}
#user-name {
	text-align: center;
	margin-bottom: 10px;
	overflow: hidden;
	color: #fff;
	border-bottom: 2px solid #2E3842;
}
#sidebar-nav {
	margin-top: 20px;
}
#sidebar-nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
#sidebar-nav ul li a {
	display: list-item;
	font-size: 1.5em;
	font-weight: 700;
	color: #C3D4E5;
	padding: 10px 30px 10px 30px;
	border-left: 4px solid #3D4751;
}
#sidebar-nav ul li a:hover {
	background: #323D47;
	border-left: 4px solid #22BA5D;
}

.content {
	margin: 20px;
	overflow: hidden;
	float: left;
}
.students {
	width: 900px;
	float: left;
	background: #eee;
	margin: 0 20px 20px 0;
	overflow: hidden;
}

.forms {
	float: left;
	width: 255px;
	background: #eee;
	margin: 0 20px 20px 0;
	overflow: hidden;
}
.forms-top,.tables-top {
	background: #3D4751;
	padding: 5px;
	word-wrap: break-word;
	text-align: center;
}
.forms-top *,.tables-top * {
	color: #fff;
    margin: 0;
	padding: 0;
}
.forms-cont {
	padding: 20px;
	float: left;
}
.forms-cont div {
	margin-bottom: 20px;
}

.forms div:last-of-type {
	margin-bottom: 0;
}
.forms-cont div:last-of-type {
	margin-bottom: 0;
}
input[type=submit]{
	cursor: pointer;
}
input[type=file]{
	width: 210px;
}

.inputs {
	width: 200px;
	outline: none; 
	font-size: 1.2em;
	padding: 5px;
	border: 2px solid #CECECE;
}
.selects {
	width: 213px;
	outline: none; 
	font-size: 1.2em;
	padding: 5px;
	border: 2px solid #CECECE;
}
.login-form {
	width: auto;
	margin: 90 auto;
}
.logout-btn {
	background: #22BA5D;
	text-transform: uppercase;
	font-weight: 600;
	border: 3px solid #fff;
	outline: none;
	font-size: 1.2em;
	color: #fff;
	padding: 6px;
}
.logout-btn:hover {
	background: #fff;
	color: #22BA5D;
	border: 3px solid #22BA5D;
}

.inputs:hover,select:hover {
	border: 2px solid #22BA5D;
}
.table-details {
	margin-top: 20px;
	clear: both;
}
.tables,.forms {
	overflow: hidden;
	float: left;
}
.table-group table {
	width: 900px;
}
.table-stu-zad,.table-index {
	width: 900px;
}
table {
	font-weight: 400;
	border-spacing: 0;
	text-align: center;
}
table th {
	font-weight: 800;
	background: #eee;
}
table,th,td {
	border: 1px solid #eee;
	color: #666;
}
th,td {
	padding: 10px;
}

.clear-fix {
	clear: both;
}
.edit-delete {
	width: 20px;
}

.submit-btn {
	width: 213px;
	background: #3D4751;
	border: none;
	padding: 5px;
	color: #fff;
	font-weight: 600;
	outline: none;
}
.submit-btn:hover {
 background: #47535E;
}

.member-field {
	width: 90px;
}





.inner_cont {
	float: left;
	margin-right: 20px;
}
#form1 {
	overflow: hidden;
	float: left;
}
#desc-cont {
	float: right;
}
#submit-cont {
	float: left;
}
#desc-cont textarea {
	outline: none; 
	font-size: 1.2em;
	padding: 5px;
	border: 2px solid #CECECE;
	resize: vertical;
}
#footer {
	background: #222;
	height: 200px;
    clear: both;
}



@media screen and (min-width:1180px) and (max-width:1460px) {
	.forms {
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.inner_cont {
		margin: 0 auto;
	}
	#desc-cont {
		margin-left: 20px;
	}
	#desc-cont  textarea {
		width: 600px;
	}
	.wrapper {
	    width: 900px;
	    margin: 0 auto;
    }
}


@media screen and (min-width:768px) and (max-width:1179px) {
    .table-stu-zad {
	    width: 700px;
		font-size: 0.9em;
    }
	.students {
		width: 700px;
		margin-right: 0;
	}
	.forms {
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.wrapper {
	    width: auto;
	    margin: 0 auto;
    }
	#sidebar {
		float: none;
		width: auto;
		height: auto;
		text-align: center;
	}
	#desc-cont  textarea {
		width: 465px;
	}
	.inner-c-res .inputs {
		width: 140px;
	}
	.inner-c-res .selects,.inner-c-res .submit-btn,.file input {
		width: 150px;
		font-size: 1em;
	}

}


@media screen and (max-width:767px) {
	#sidebar {
		float: none;
		width: auto;
		height: auto;
		text-align: center;
	}
	#desc-cont  textarea {
		width: 265px;
	}
	.forms {
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.wrapper {
	    width: auto;
	    margin: 0 auto;
    }
	.students {
		width: 500px;
		margin-right: 0;
	}
	.table-stu-zad {
	    width: 400px;
    }
	.table-group table {
	    width: 600px;
    }
	.inner-c-res .inputs {
		width: 140px;
	}
	.inner-c-res .selects,.inner-c-res .submit-btn,.file input {
		width: 150px;
		font-size: 1em;
	}
}